[tool.ruff]
src = ["src"]
line-length = 100
target-version = "py311"

[tool.ruff.lint]
select = [
    "E",  # pycodestyle errors
    "F",  # pyflakes
    "W",  # pycodestyle warnings
    "I",  # isort
    "B",  # bugbear
    "UP", # pyupgrade
    "C4", # flake8-comprehensions
    "SIM",# flake8-simplify
    "PIE",# flake8-pie
]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"
